body {
    background-image: url("/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.extend-footer {
    text-align: right;
    font-size: 0.6rem;
    line-height: 1rem;
}

.link-creema {
    background: rgb(255, 255, 255);
    color: rgb(97, 88, 88);
    border-width: 1px;  
    border-style: solid;  
    border-color: black;  
  }

@media (max-width: 375px) {
    .headline {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}